@tailwind base;
@tailwind components;
@tailwind utilities;

.Navbar{
    font-family: 'Montserrat', sans-serif;
  }

.home{
  font-family: 'Montserrat', sans-serif;
}

.menu-bar{
  font-family: 'Montserrat', sans-serif;
}
.App{
  background-color: rgb(236, 234, 234);
}
.menu{
  background-color: rgb(236, 234, 234);
}